<!doctype html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>七色花自动答题v2.0</title>
    <link rel="shortcut icon" href="/rainbow_flower.ico" type="image/x-icon">
    <style>
        *{
            margin: 0;
            padding: 0;
        }
        a{
            text-decoration: none;
            position: absolute;
            bottom: 5%;
            left: 50%;
            width: 90%;
            height:40px;
            -webkit-transform: translateX(-50%);
            -moz-transform: translateX(-50%);
            -ms-transform: translateX(-50%);
            -o-transform: translateX(-50%);
            transform: translateX(-50%);
            -webkit-border-radius: 5px;
            -moz-border-radius: 5px;
            border-radius: 5px;
            background: #ff0000;
            color: #fff;
            text-align: center;
            line-height:40px;
        }
        span{
            position: absolute;
            top: 50%;
            left: 50%;
            -webkit-transform: translate(-50%, -50%);
            -moz-transform: translate(-50%, -50%);
            -ms-transform: translate(-50%, -50%);
            -o-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
            width: 90%;
            height: auto;
            color:#C11920;
            font-size:20px;
            text-align: center;
            -webkit-border-radius: 5px;
            -moz-border-radius: 5px;
            border-radius: 5px;
        }
    </style>
</head>
<body>
    <span><%= err %></span>
    <br>
    <a href="#" onClick="javascript:history.go(-1);return false;">返回上一页</a>
</body>
</html>